<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2><%= title %></h2>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>描述</th>
              <th>所有者</th>
            </tr>
          </thead>
          <% todos.forEach( todo => { %>
            <tr>
              <td><%= todo.get('content') %></td>
              <td><%= todo.get('user') == null ? '' : todo.get('user').get('username') %></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </body>
</html>
