<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>LeanEngine websocket demo</title>
  <link href="http://terminal.jcubic.pl/css/jquery.terminal.css" rel="stylesheet">
  <style>
body {
  margin: 0;
  padding: 0;
}
#term {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
  </style>
</head>
<body>
  <div id="term">

  </div>

  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://terminal.jcubic.pl/js/jquery.terminal-0.8.8.min.js"></script>
  <script>
jQuery(function($, undefined) {
  var url = 'ws://' + window.location.host + '/socket/echo';
  var connection = null;

  $('#term').terminal(function(command, term) {
    if (connection === null)  {
      term.echo('not connected.');
      return;
    }
    connection.send(command);
  }, {
    grettings: 'LeanEngine websocket echo test',
    prompt: 'ws> ',
    onInit: function(terminal) {
      terminal.echo('connecting webscoket on ' + url + ' ...');
      connection = new WebSocket(url);
      connection.onopen = function() {
        terminal.echo('connected!');
      };
      connection.onerror = function(err) {
        terminal.error('error: ' + err);
      };
      connection.onmessage = function(e) {
        terminal.echo('< ' + e.data);
      };
      connection.onclose = function(e) {
        terminal.echo('connection closed!');
        connection = null;
      }
    },
  });
});
  </script>
</body>
