extends ../layout

block content
  h1= title
  
  #errMsg
    if errMsg
      pre= errMsg

  form.form-horizontal(action='/users/register', method='POST')
    .form-group
      label.col-sm-2.control-label 用户名
      .col-sm-10: input(type='input', name='username')
    .form-group
      label.col-sm-2.control-label 密码
      .col-sm-10: input(type='password', name='password')
    .col-sm-offset-2.col-sm-10: input.btn.btn-default(type='submit', value='注册')
